<div class="row">
  <div class="col-12 navOwnStyle">
    <ul class="nav justify-content-center">
      <% if(isAuthenticated) { %>
      <li class="nav-item pl-4 pr-4">
        <a class="nav-link linkStyle" href="/usermenu">Menu</a>
      </li>
      <li class="nav-item pl-4 pr-4">
        <a class="nav-link linkStyle" href="/logout">Log Out</a>
      </li>
      <li class="nav-item pl-4 pr-4">
        <a class="nav-link linkStyle" href="javascript:history.back()">Back</a>
      </li>
      <% } else { %>
      <li class="nav-item pl-4 pr-4">
        <a class="nav-link linkStyle" href="/">Home</a>
      </li>
      <li class="nav-item pl-4 pr-4">
        <a class="nav-link linkStyle" href="/signin">Sign In</a>
      </li>
      <li class="nav-item pl-4 pr-4">
        <a class="nav-link linkStyle" href="/signup">Sign Up</a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
