<%- include('includes/head.ejs') %>

    <div class="container-fluid">
        <div class="sticky-top row">
           <nav class="navbar navbar-light navOwnStyle">
            <form class="container-fluid justify-content-center">
              <button class="btn-lg btnOwnStyle me-2" type="button">Sign In</button>
              <button class="btn-lg btnOwnStyle me-2" type="button">Sign Up</button>
            </form>
          </nav> 
        </div>
        
        <div class="row align-items-center">
            <div class="titleMain col-12 text-center">
                <h1>My Places</h1>
                <p>Create your owns collections and store your favourite places.</p>
            </div>
        </div>
    </div>
    



<%- include('includes/end.ejs') %>