<%- include('includes/head.ejs') %>

<div class="container-fluid">
  <%- include('includes/navbar.ejs') %>

  <div class="row align-items-center">
    <div class="titleMain col-12 text-center pt-5 pb-5">
      <h1>My Places</h1>
      <p>Create your owns collections and store your favourite places.</p>
    </div>
  </div>
</div>

<%- include('includes/end.ejs') %>
