body {
  background-color: rgb(254, 255, 202);
}

.navOwnStyle {
  background-color: rgb(54, 54, 54);
  padding-top: 1em;
  padding-bottom: 1em;
  font-family: "Bebas Neue", cursive;
}

.linkStyle {
  color: rgb(255, 255, 255);
  font-size: calc(1.3em + 1vw);
}

.linkStyle:hover {
  color: rgb(156, 83, 83);
}

.titleMain h1 {
  color: rgb(0, 0, 0);
  font-family: "Bangers", cursive;
  font-size: calc(2.2em + 1.6vw);
}
.titleMain p {
  font-family: "Euphoria Script", cursive;
  font-size: calc(1.4em + 1.2vw);
  font-weight: bold;
}

.labelForm {
  font-family: "Bebas Neue", cursive;
  font-size: calc(0.8em + 1vw);
}
.inputStyles {
  border: 1px solid black;
}
.errorsMessage {
  background-color: rgb(247, 130, 130);
  font-weight: bold;
  border-radius: 12px;
  font-size: calc(0.6em + 0.6vw);
}

.btnStyle {
  background-color: rgb(167, 167, 167);
  font-size: calc(0.8em + 0.8vw);
  font-family: "Bebas Neue", cursive;
}
.btnStyle:hover {
  background-color: rgb(108, 131, 84);
  border: 2px solid black;
}
.btnStyleTwo {
  font-size: calc(1.2em + 1vw);
  background-color: rgb(167, 167, 167);
  font-family: "Bebas Neue", cursive;
}
.btnStyleTwo:hover {
  background-color: rgb(108, 131, 84);
  border: 2px solid black;
}
.btnStyleThree {
  background-color: rgb(54, 54, 54);
  border: 2px solid black;
  color: rgb(255, 255, 255);
  font-size: calc(0.8em + 0.6vw);
  font-family: "Bebas Neue", cursive;
}
.btnStyleThree:hover {
  border: 2px solid white;
  background-color: rgb(108, 131, 84);
  color: black;
}

.titleForms h1 {
  color: rgb(0, 0, 0);
  font-family: "Bangers", cursive;
  font-size: calc(2.2em + 1.6vw);
}

.collectCard {
  background-color: rgb(117, 143, 132);
  border-radius: 12px;
  border: 2px solid black;
}
.collectCard h1 {
  font-family: "Bangers", cursive;
  font-size: calc(2em + 1.4vw);
}
.collectCard h2 {
  font-family: "Euphoria Script", cursive;
  font-weight: bold;
  font-size: calc(1.2em + 1.2vw);
}

.placeCard {
  background-color: rgb(107, 187, 154);
  border-radius: 12px;
  border: 2px solid black;
}
.placeCard h1 {
  font-family: "Bangers", cursive;
  font-size: calc(2em + 1.4vw);
}
.placeCard h2 {
  font-family: "Andika New Basic", sans-serif;
  font-weight: bold;
  font-size: calc(1.2em + 1.2vw);
}
.placeCard p {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-size: calc(1.2em + 1.2vw);
}
