body {
  background-color: rgb(254, 255, 202);
}

.navOwnStyle {
  background-color: rgb(54, 54, 54);
  padding-top: 1em;
  padding-bottom: 1em;
}

.linkStyle {
  color: rgb(255, 255, 255);
  font-size: calc(1.3em + 1vw);
}

.linkStyle:hover {
  color: rgb(156, 83, 83);
}

.titleMain h1,
p {
  color: rgb(0, 0, 0);
}
